/*  your css code here. If applicable */
.grid-item{
	display:flex;
	background-color: rgb(211, 211, 211) ;
	height: 150px;
	width: 200px;
	border-radius: 5px;
	font-size: 40px;
	justify-content: center;
	align-item: center;
	
}
.grid-container{
	display: grid;
	display:flex;
	gap: 10px 10px;
flex-wrap: wrap
}

